<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form class="form" [formGroup]="loginForm" (keyup.enter)="login(user)">

    <div class='validation-error'>{{message}}</div>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" shape="round" [disabled]="loginForm.invalid" (click)="login(user)">Login
    </ion-button>
    <ion-button expand="block" shape="round" color="danger" href="/register" routerDirection="forward">Register</ion-button>
  </form>

</ion-content>