<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="members/menu/rid"></ion-back-button>
    </ion-buttons>
    <ion-title>itemview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="item.url"></ion-img>
      </ion-col>
      <ion-col class="price">
        ${{item.cost}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>{{item.name}}</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        {{item.description}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button>Customize</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>Add to order</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>